
@{
    ViewBag.Title = "Haberler";

}
@using PagedList
@using PagedList.Mvc
@model IPagedList<HaberPortal.Haber>

<!-- Portfolio-->
<div id="portfolio">
    <div style="text-align:center">
        <h1 class="mt-4 mb-3">
            Haberler
        </h1>
    </div>
    @foreach (var haber in Model)
    {
        <div class="row" style="margin:10px">
            <div class="col-md-7">
                <a href="/Haber/Goster/@haber.Baslik.Replace(@":","")/@haber.Id">
                    <div style="text-align:center">
                        <img class="card-img" src="data:image;base64,@Convert.ToBase64String(haber.KucukResim)" style="object-fit:cover" height="300">
                    </div>
                </a>
            </div>
            <div class="col-md-5" style="max-height:300px">
                <h3 style="word-wrap:break-word">@haber.Baslik</h3>
                <p style="word-wrap:break-word">@haber.Ozet</p>
                <a class="btn btn-primary" href="/Haber/Goster/@haber.Baslik.Replace(@":","")/@haber.Id">
                    Haber Devamı
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
        <hr />
    }
    <span style="text-align:center">@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Portfolio", new { sayfa }))</span>

</div>

