
@{
    ViewBag.Title = "İletişim Bilgileri";
}

<!-- Services-->
<section id="services">
    <div style="text-align:center">
        <h1>
            Konum Bilgilendirme Sayfası
        </h1>        
    </div>
</section>
